name: Build and Release Box64

# No auto
on:
  workflow_dispatch:

jobs:
  ubuntu:
    runs-on: ubuntu-22.04-arm
    steps:
      - name: Download termux glibc and mkdir
        run: |
          useCore=$(nproc)
          wget -O /tmp/glibc.tar.xz https://github.com/Waim908/box64-termux-glibc/releases/download/nodownload/Lite-glibc-2.41-1.tar.xz
          sudo mkdir /data
          sudo chmod 777 /data
          mkdir /data/data
          mkdir /data/data/com.termux/
          mkdir /data/data/com.termux/files/
          mkdir /data/data/com.termux/files/usr
          mkdir /data/data/com.termux/files/usr/glibc
          tar -xvf /tmp/glibc.tar.xz -C /data/data/com.termux/files/usr/

      - name: Clone and sed
        run: |
          git clone https://github.com/ptitSeb/box64
          cd box64
          sed -i 's/\/usr/\/data\/data\/com.termux\/files\/usr\/glibc/g' CMakeLists.txt
          sed -i 's/\/etc/\/data\/data\/com.termux\/files\/usr\/glibc\/etc/g' CMakeLists.txt
          mkdir build
          cd build

      - name: Set glibc and Build
        run: |
          sudo apt autoremove cmake -y
          export PATH=/data/data/com.termux/files/usr/glibc/bin:$PATH
          if ! /data/data/com.termux/files/usr/glibc/bin/camke --version; then
              echo "glibc cmake test faild!"
              exit 1
          fi
          if ! cmake .. -DCMAKE_INSTALL_PREFIX=/data/data/com.termux/files/usr/glibc -DARM64=ON -DARM_DYNAREC=ON -DBAD_SIGNAL=ON -DNOLOADADDR=ON -DCMAKE_BUILD_TYPE=Release; then
            echo "cmake failed"
            exit 1
          else
            if ! make -j$(nproc); then
              echo "make faild"
              exit 1
            else
              make install
              cd /data/data/com.termux/files/usr
              tar -I "xz -T$(nproc)" -cvf /tmp/box64-glibc.tar.xz glibc/
            fi
          fi
      # - name: Checkout
      #   uses: actions/checkout@v5
      - name: create release
        uses: softprops/action-gh-release@v2
        with:
          name: 0.3.7-dev
          draft: false
          prerelease: false
          tag_name: 0.3.7-dev
          body: test
          files: |
            /tmp/box64-glibc.tar.xz
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}