name: Build and Release Box64

on: push

jobs:
  ubuntu:
    runs-on: ubuntu-22.04-arm
    steps:
      - name: Build
        run: |
          sudo apt update
          sudo apt install git patchelf gcc-aarch64-linux-gnu
          git clone https://github.com/ptitSeb/box64
          cd box64
          sudo mkdir /data
          sudo chmod 777 /data
          mkdir /data/data
          mkdir /data/data/com.termux/
          mkdir /data/data/com.termux/files/
          mkdir /data/data/com.termux/files/usr
          mkdir /data/data/com.termux/files/usr/glibc
          sed -i 's/\/usr/\/data\/data\/com.termux\/files\/usr\/glibc/g' CMakeLists.txt
          sed -i 's/\/etc/\/data\/data\/com.termux\/files\/usr\/glibc\/etc/g' CMakeLists.txt
          mkdir build
          cd build
          if ! cmake .. -DCMAKE_INSTALL_PREFIX=/data/data/com.termux/files/usr/glibc -DARM64=ON -DARM_DYNAREC=ON -DBAD_SIGNAL=ON -DNOLOADADDR=ON -DCMAKE_BUILD_TYPE=Release; then
            echo "cmake failed"
            exit 1
          else
            if ! make -j$(nproc); then
              echo "make faild"
              exit 1
            else
              make install
              cd /data/data/com.termux/files/usr
              tar -I "xz -T$(nproc)" -cvf /tmp/box64-glibc.tar.xz glibc/
              md5sum /tmp/box64-glibc.tar.xz > /tmp/md5.txt
            fi
          fi
      # - name: Checkout
      #   uses: actions/checkout@v5
      - name: create release
        uses: softprops/action-gh-release@v2
        with:
          name: test
          draft: false
          prerelease: false
          tag_name: test
          body: test
          files: |
            /tmp/box64-glibc.tar.xz
            /tmp/md5.txt
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}